* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.slider-container {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.sllider {
    display: flex;
    transition: transform 0.35 ease-in-out;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 600px;
    height: 400px;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: rgb(32, 83, 128);
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}










.new {
    margin-top: 100px;
}
.acc-container {
    max-width: 500px;
    margin: 0 auto;
}

.accordion {
    padding: 20px 50px;
    border: 2px solid black;
}

.panel {
    border: 2px solid brown;
    max-height: 0;
    overflow: hidden;
    transition: 0.35s;
}

.accordion:hover {
    background-color: antiquewhite;
}












.menu {
    display: block;
    width: 320px;
    height: 100%;
    background-color: antiquewhite;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.35s ease;
}

.menu .menu-container {
    display: block;
    width: 100%;
    height: 100%;
}

.menu ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.menu-burger__header {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
    left: calc(100% + 10px);
    top: 10px;
    cursor: pointer;
}

.menu .menu-burger__header::before,
.menu .menu-burger__header>span,
.menu .menu-burger__header::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition-duration: .35s;
    transition-timing-function: ease;

}

.menu .menu-burger__header::before {
    top: calc(50% - 8px);
    transition-property: top, transform;
}
.menu .menu-burger__header::after {
    top: calc(50% + 8px);
    transition-property: top, transform;
}
.menu .menu-burger__header>span {
    top: 50%;
    transition-property: opacity;
}


.menu.active {
    transform: translateX(0);
}

.menu.active .menu-burger__header::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu.active .menu-burger__header::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu.active .menu-burger__header>span {
    opacity: 0;
}














.tabs {
    padding: 50px;
    border: 2px solid brown;
    max-width: 500px;
    margin: 100px auto;
}

.tabs__btn {
    padding: 10px;
    background-color: burlywood;
}

.tabs__block:not(._active) {
    display: none;
}
.tabs__btn:not(._active) {
    background-color: aqua;
}


.tabs__block._active {
    padding: 10px 0;
}
.tabs__btn._active {
    background-color: blueviolet;
}








.game {
    width: 600px;
    height: 250px;
    border-bottom: 2px solid black;
    margin: auto;
    margin-bottom: 200px;
}

#dino {
    width: 40px;
    height: 50px;
    background-color: grey;
    position: relative;
    top: 200px;
}

#cactus {
    width: 20px;
    height: 30px;
    background-color: green;
    position: relative;
    top: 170px;
    left: 565px;
    animation: cactusMove 3s infinite linear;
}

@keyframes cactusMove {
    0% {
        left: 580px
    }
    100% {
        left: -50px;
    }
}

.jump {
    animation: dinoJump 0.5s linear
}

@keyframes dinoJump {
    0% {
        top: 200px
    }
    30% {
        top: 150px;
    }
    50% {
        top: 100px;
    }
    80% {
        top: 150px;
    }
    100% {
        top: 200px
    }
}